body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
}

h1 {
  font-size: 3vw;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 20px;
}

a {
  font-size: 20px;
}

main {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

article#instructions {
  background-color: #f7f7f7;
  padding: 10px;
}


section#input-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

form#input-form {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

form#input-form input[type="text"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

ul {
  background-color: lightgoldenrodyellow;
  height: 15vw;
  padding: 10px;
  flex: 1;
}

ul li:first-child {
  padding-top: 20px;
}

ul li {
  padding-top: 10px;
}

ul#user-ingredient {
  flex: 1;
  background-color: peachpuff;

}

ul#recipe-ingredients {
  max-width: 33%; 
  height: auto;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

div#gen-btn-div {
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 2vw;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 20px;
}
div#gen-output {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

div#gen-output img {
  flex: 1;
  background-color: lightgoldenrodyellow;
  border: 5px solid lightgoldenrodyellow;
  width: 10vw;
  height: 15vw;
  object-fit: scale-down;
}

div#gen-output a {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

div#gen-output a:hover {
  background-color: #0056b3;
}

section {
  display: flex;
}

img#recipe-img {
  max-width: 66%; 
  height: auto;
  margin-right: 20px;
}

#recipe-full {
  width: 100%;
  height: 600px; 
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
